@font-face {
  font-family: 'Humger';
  src: url('../fonts/humger/Humger.woff2') format('woff2'),
       url('../fonts/humger/Humger.woff') format('woff'),
       url('../fonts/humger/Humger.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Light.woff') format('woff'),
       url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #8e9596;
}

h1 {
  font-family: 'Humger', sans-serif;
  font-size: 72px;
}

h2,
h3,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  letter-spacing: 0.8px;
}

.page-wrapper {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.fixed-spacer-margin {
  width: 100vw;
  height: 33vh;
  overflow: hidden;
}

.separator-with-opacity {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, rgba(142, 149, 150, 0) 0%, rgba(142, 149, 150, 1) 49%, rgba(142, 149, 150, 0) 100%);
}

.big-spacer {
  margin-top: 72px;
}

.sign-up-input {
  color: #f4f4f4 !important;
  font-size: 32px;
  font-weight: bold;
  border-color: transparent;
}

.sign-up-input,
.sign-up-input:focus {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.was-validated .form-control:invalid {
  border-color: #deb3a8 !important;
}

.was-validated .form-control:invalid:focus {
  box-shadow: none !important;
}

.invalid-feedback {
  color: #deb3a8 !important;
}

.sign-up-submit,
.sign-up-submit:hover,
.sign-up-submit:focus,
.sign-up-submit:active,
.sign-up-submit:visited,
.band-link,
.band-link:hover,
.band-link:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.sign-up-submit {
  font-size: 32px;
}

.band-link {
  font-size: 22px;
}

.sign-up-submit,
.band-link {
  color: #8e9596;
}

.sign-up-submit:hover,
.band-link:hover {
  color: #f9f9f9;
  cursor: pointer;
}

